.content {
	display: flex;
	justify-content: center;

	.sign-up {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		border: 1px solid #e6e6e6;

		max-width: 350px;

		padding: 32px;

		.float-right {
			display: flex;
			justify-content: flex-end;
		}

		.sign-up-button {
			border-radius: 25px;
		}
	}
}
