<div class="content">
	<div class="header-text">
		<h2>Contact us</h2>
		<span>Want to contact us, have any questions or feedback? Here's how you can reach us.</span>
	</div>

	<div class="blocks">
		<div class="block">
			<mat-icon class="icon">people</mat-icon>
			<h2 class="header">Contact information</h2>
			<div>
				General inquieries:<br />
				<a href="mailto:info@info.nl">info@info.nl</a>
			</div>
			<div>
				Technical support:<br />
				<a href="mailto:support@info.nl">support@info.nl</a>
			</div>
		</div>

		<div class="block">
			<mat-icon class="icon">local_phone</mat-icon>
			<h2 class="header">Talk to us</h2>
			<div>Interested in our services? Pick up the phone and have a chat!</div>
			<div><a href="#">+31 6 123 456 789</a></div>
		</div>
	</div>
</div>
