.content {
	.header-text {
		background-image: linear-gradient(to right, rgba(32, 226, 97, 0.432), rgba(35, 44, 168, 0.432)), url('https://via.placeholder.com/1920x250');
		background-repeat: no-repeat;

		text-align: center;
		padding: 64px 0px 64px 0px;
	}

	.blocks {
		display: flex;
		flex-direction: row;
		justify-content: center;

		margin-top: -30px;

		padding: 0px 16px 0px 16px;

		.block {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1 1 0px;

			background-color: white;
			border: 1px solid #e6e6e6;

			max-width: 350px;

			margin-right: 16px;
			padding: 32px;

			div {
				text-align: center;
				padding-bottom: 8px;
			}

			.icon {
				$icon-size: 50px;

				font-size: $icon-size;
				width: $icon-size;
				height: $icon-size;
			}

			.header {
				font-weight: bold;
				text-align: center;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.content {
		.blocks {
			flex-direction: column;

			.block {
				margin-right: 0;
				margin-bottom: 16px;
			}
		}
	}
}
