<div class="content">
	<div class="login box-shadow" *ngIf="authenticateService.isLoggedIn == false">
		<div class="header">
			<div class="header-image osu-logo"></div>

			<div class="title">
				Authenticate through osu!
			</div>
		</div>

		<div class="body">
			<div class="is-authenticating" *ngIf="authenticateService.isAuthenticating == true">
				<mat-spinner [diameter]="32"></mat-spinner>
				<div>Attempting to authenticate...</div>
			</div>

			<a mat-raised-button class="full-width login-button" color="primary" [href]="this.authenticateService.getOsuOauthUrl()">Authenticate</a>
		</div>
	</div>
</div>
