@import "theme";

$divider-color: #9c9c9c;

html, body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #fcfcfc;
}

.full-width {
	width: 100%;
}

.divider {
	width: 100%;
	line-height: 0.1em;
	margin: 25px 0 25px;

	text-align: center;
	border-bottom: 1px solid $divider-color;

	span {
		background-color: white;
		color: $divider-color;

		padding: 0 10px;
	}
}

.box-shadow {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}
